@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}
html, body, #app {
    height: 100%;
}
body, input, button {
    font: 14px 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
}

body {
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(-45deg, #aaa 25%, #eee 100%);
    background-attachment: fixed;
}

/**
* YOUR CODE HERE
*/

#app{
    text-align: center;
}
.logo{
    position: relative;
    width:5%;
    top: 150px;
}


.login{
    width: 350px;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;    
    margin: 0 auto;
    padding: 8px;
    background-color: #E1E1E1;
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
}

.login input{
    display: block;
    margin: 8px 0;
    padding: 7px 0;
    width: 100%;
    border: none;
}

input[type=submit]:disabled {
  background: #d3d3d3!important;
  cursor: p
}

.login input[type=submit]{
    background-color: #008429;
    color: #FFF;
    cursor: pointer;
}

.logged .logo{
    position: relative;
    top: 0;
}

.container{
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.container li{
    padding: 8px 10px;
    background-color: #fff;
    margin:5px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #000;
    flex: 1;

}

.container li img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    z-index: 99999;
}

.container li img:hover{
    transform: scale(1.8)
}

.container li span{position: relative;top: -13px;left: 4px;}
